@font-face{
    font-family: myfont;
    src:url('GreatVibes-Regular.ttf')
}

@font-face{
    font-family: myfonttext;
    src:url('cmu.serif-roman.ttf')
}

a {
   color: #00FFFF;
   text-decoration: none;
}

a:hover{
    color: #ffffff;
}

b {
    color: #00FFFF;
}

body {
    background-color: black;
    font-family: myfonttext;
    font-size: 14pt;
    text-align: justify;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

h1, h2, h3, h4{
    color: #00FFFF;
    font-family: myfont;
    letter-spacing: 3pt;
}

.button-display{
    font-family: myfonttext;
    font-size: 14pt;
    padding: 6pt;
    background-color: #00FFFF;
    color: #000000;
    text-shadow: 1px 1px 0px #ffffff;
    border: #00FFFF 2px solid;
    box-shadow: 2px 2px #ffffff;
    border-radius: 20px;
}

.button-display:hover{
    background-color: #ffffff;
    border: #ffffff 2px solid;
    box-shadow: 2px 2px #00FFFF;
}

.center{
    text-align: center;
}

.content{
    display: block;
    background-color: #696565;
    padding: 1%;
    margin-bottom: 2%;
    margin-left: 1%;
    border: #00FFFF 2px solid;
    border-radius: 20px 20px 20px 20px;
    width: calc(76% - 60px);
    float: left;
    box-shadow: 10px 10px #00FFFF;
}

.navbarhead {
    display: block;
    border: #00FFFF 2px solid;
    border-radius: 20px 20px 0px 0px;
    background-color: #00FFFF;
    color: black;
    font-weight: bold;
    letter-spacing: 3pt;
    font-family: myfont;
    font-size: 24pt;
    padding: 2%;
    text-align: center;
}

.navbar {
    display: block;
    border: #00FFFF 2px solid;
    background-color: #696565;
    border-radius: 0px 0px 20px 20px;
    padding: 1%;
}

.navbar ul {
    margin-left:-20pt;
    list-style: none;
    list-style-position: outside;
}

.navbar li{
    margin-bottom: 3%;
    border-bottom: #00FFFF 1px solid;
}

.name {
    border: #00FFFF 2px solid;
    border-radius: 20px 20px 20px 20px;
    background-color: #00FFFF;
    margin-bottom: 1%;
    color: black;
    font-weight: bold;
    letter-spacing: 3pt;
    font-family: myfont;
    font-size: 24pt;
    padding: 2%;
}

.photo {
    border: #00FFFF 2px solid;
    border-radius: 20px 20px 20px 20px;
    background-color: #00FFFF;
    margin-bottom: 2%;
    text-align: center;
}

.photo img {
    border-radius: 50%;
    width: 80%;
}

.sidecontent{
    display: block;
    float: left;
    width: 24%;
}

@media screen and (max-width: 800px) {
    
    body{
        font-size: 10pt;
        text-align: left;
    }
    
    
    .button-display{
        font-size: 10pt;
    }
    
    .content {
        width: 94%;
        margin: 0;
        float: left;
        box-shadow: none;
        padding: 3%;
    }
    
    .navbarhead{
        font-size: 14pt;
    }
    
    .name{
        font-size: 18pt;
    }
    
    .photo img{
        width: 70%;
    }
    
    .sidecontent {
        width: 100%;
        margin-bottom: 2%;
    }
}


